#box1 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}
#box1:hover{
 transition: width 2s;
 width: 600px;
}
#box2{
    width: 20px;
    height: 20px;
    background-color: blue;
}

.stretch{
    transition: width 3s, height 1.5s, background-color 2s ease-in-out;
    width: 240px !important;
    height: 400px !important;
    background-color: yellow !important;
}